In [1]:
!pip install selenium

Requirement already satisfied: selenium in /usr/local/anaconda3/lib/python3.8/site-packages (3.141.0)
Requirement already satisfied: urllib3 in /usr/local/anaconda3/lib/python3.8/site-packages (from selenium) (1.25.10)

In [2]:
from selenium import webdriver

In [3]:
# macos 사용, chromedriver 경로 지정
driver = webdriver.Chrome("/usr/local/bin/chromedriver")
driver.get("https://franchise.ftc.go.kr/user/extra/main/70/firHope/listBrand/jsp/LayOutPage.do")

In [4]:
# select와 상호작용 위해 임포트
from selenium.webdriver.support.ui import Select

In [5]:
# 피자 선택
select = Select(driver.find_element_by_id("selIndus"))
select.select_by_visible_text("커피")
select2 = Select(driver.find_element_by_id("selListType"))
select2.select_by_visible_text("가맹점 현황 정보")

In [6]:
# 검색버튼 클릭
xpath = """//*[@id="frmSearch"]/input[5]"""
driver.find_element_by_xpath(xpath).click()

In [7]:
# 테이블 읽기 및 csv 변환 위해 pandas 임포트
import pandas as pd

In [8]:
# 테이블 찾고 내용 HTML 통해 읽기
xpath = """//*[@id="txt"]/div[3]/table"""
table_html = driver.find_element_by_xpath(xpath).get_attribute('outerHTML')
result = pd.read_html(table_html)

In [9]:
result[0]

,브랜드,상호,가맹점수,신규개점,계약종료,계약해지,명의변경,가맹점평균매출액(매출액지수),가맹점면적(3.3㎡)당평균매출액(평균매출액지수)
0,평균,-,37.0,8.0,0.0,1.0,2.0,"169,988 (1.00)","9,313 (2.22)"
1,이디야커피,(주)이디야,2651.0,302.0,0.0,50.0,213.0,"216,931 (1.28)","8,415 (0.05)"
2,투썸플레이스,투썸플레이스(주),1097.0,127.0,0.0,31.0,111.0,"544,844 (3.21)","12,061 (0.07)"
3,메가엠지씨커피(MEGA MGC COFFEE),(주)앤하우스,798.0,398.0,0.0,3.0,55.0,"275,854 (1.62)","20,270 (0.12)"
4,커피에반하다,(주)커피에반하다,688.0,155.0,0.0,56.0,55.0,"109,998 (0.65)","7,827 (0.05)"
...,...,...,...,...,...,...,...,...,...
361,카페 빙코리아(Cafe BINGCORIA),빙코리아연구소,0.0,0.0,0.0,0.0,0.0,0 (0.00),0 (0.00)
362,마실커피,(주)이노컴프,0.0,0.0,0.0,0.0,0.0,0 (0.00),0 (0.00)
363,스몰굿,한일인터내셔널(주),0.0,0.0,0.0,0.0,0.0,0 (0.00),0 (0.00)
364,커피매거진,커피매거진본부,0.0,0.0,0.0,0.0,0.0,0 (0.00),0 (0.00)
365,올리터,올리터카페앤디저트프랜차이즈,0.0,0.0,0.0,0.0,0.0,0 (0.00),0 (0.00)

In [10]:
df = result[0]

In [11]:
# Get indexes where name column has value john
indexNames = df[(df['가맹점수'] == 0) & (df['신규개점'] == 0) & (df['계약종료'] == 0) &
               (df['계약해지'] == 0) & (df['명의변경'] == 0) & (df['가맹점평균매출액(매출액지수)'] == '0  (0.00)') & (df['가맹점면적(3.3㎡)당평균매출액(평균매출액지수)'] == '0  (0.00)')].index

# Delete these row indexes from dataFrame
df.drop(indexNames, inplace=True)

df

,브랜드,상호,가맹점수,신규개점,계약종료,계약해지,명의변경,가맹점평균매출액(매출액지수),가맹점면적(3.3㎡)당평균매출액(평균매출액지수)
0,평균,-,37.0,8.0,0.0,1.0,2.0,"169,988 (1.00)","9,313 (2.22)"
1,이디야커피,(주)이디야,2651.0,302.0,0.0,50.0,213.0,"216,931 (1.28)","8,415 (0.05)"
2,투썸플레이스,투썸플레이스(주),1097.0,127.0,0.0,31.0,111.0,"544,844 (3.21)","12,061 (0.07)"
3,메가엠지씨커피(MEGA MGC COFFEE),(주)앤하우스,798.0,398.0,0.0,3.0,55.0,"275,854 (1.62)","20,270 (0.12)"
4,커피에반하다,(주)커피에반하다,688.0,155.0,0.0,56.0,55.0,"109,998 (0.65)","7,827 (0.05)"
...,...,...,...,...,...,...,...,...,...
208,도이창커피,(주)인티코프,1.0,1.0,0.0,0.0,0.0,0 (0.00),0 (0.00)
222,뉴욕보틀,원유통뉴욕보틀,0.0,0.0,1.0,0.0,0.0,0 (0.00),0 (0.00)
301,카페에이븐,(주)씨엘파미유,0.0,0.0,0.0,1.0,0.0,0 (0.00),0 (0.00)
329,핸델앤그레텔,(주)핸델과그레텔,0.0,0.0,0.0,2.0,0.0,0 (0.00),0 (0.00)
338,커피시장,커피시장상동점,0.0,0.0,0.0,1.0,0.0,0 (0.00),0 (0.00)

In [12]:
# 읽은 내용 csv 엑셀 파일로 저장
df.to_csv('커피.csv', encoding='utf-8', index=False)